@import url("https://fonts.googleapis.com/css?family=Turret+Road&display=swap, https://fonts.googleapis.com/css?family=Rokkitt&display=swap, https://fonts.googleapis.com/css?family=Gurajada&display=swap");

body,
html {
  /* font-family:  */
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  border: 2px solid red;
  /* border-radius: 10px; */
  border-width: 6px;
  background-color: black;
}

h1 {
  font-family: "Gurajada", serif;
}

h2 {
  font-family: "Turret Road", cursive;
}
