html,
body {
  border: 5px solid red;
  border-radius: 0.5cm;
  margin-left: 5px;
  margin-top: 5px;
  width: 1280px;
  height: 100vh;
  margin: auto;
  background-color: black;
}

body {
  background-image: url("../assets/new-map.png");
  background-repeat: no-repeat, repeat;
  background-size: 80%;
  background-position: center;

  background-position-y: 57%;
}

h1 {
  font-size: 4em;
  text-align: center;
  padding-top: 32px;
  margin-top: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

h2 {
  font-size: 1.5em;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: white;
  margin: -25px;
}

.section.stats-main {
  position: absolute;

  text-align: center;
}

a.quest {
  position: relative;
}

.stats-container {
  display: flex;
  justify-content: center;
  padding: 56px;
  font-size: 1.5em;
  font-family: sans-serif;
}

.defeats {
  padding-right: 50px;
}

.quest-container {
  display: flex;
  justify-content: center;
}

.hp {
  padding-left: 50px;
}

p {
  color: white;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

/* .quest {
  display: flex;
  justify-content: space-between;
  justify-content: center;
} */

main {
  color: white;
}

a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

span.quest.completed {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
